<section id="about" class="text-light py-5">
    <div class="container">
        <div class="row">
        <!-- Imagen de perfil -->
        <div class="col-md-4 text-center">
            <img id="foto" src="{{ url_for('static', filename='images/Mauro.jpg') }}" class="img-fluid rounded-circle mb-4" alt="foto">
            <p>
                <i class="fas fa-envelope icono"></i>
                <i class="fab fa-linkedin icono"></i> 
                <i class="fab fa-github icono"></i> 
            </p>
        </div>
        <!-- Información personal -->
        <div class="col-md-8">
            <h1 class="text-uppercase">¡Hola!</h1>
            <p class="lead">
            Soy Mauro Rosales, un entusiasta de la ingeniería de datos con experiencia en optimización de procesos ETL y en la creación de soluciones de datos eficientes. Actualmente curso mis estudios en la UTN y tengo una gran pasión por los proyectos que involucran la tecnología y la analítica de datos.
            </p>

            <!-- Sección de Idiomas, Educación, Software, Skills y Experiencia -->
            <div class="row mt-4">
            <!-- Idiomas -->
            <div class="col-md-6 mb-3">
                <h5 class="text-uppercase">Idiomas</h5>
                <p>Español (nativo), Inglés (intermedio)</p>
            </div>
            <!-- Educación -->
            <div class="col-md-6 mb-3">
                <h5 class="text-uppercase">Educación</h5>
                <p>Tecnicatura Universitaria en Programación - UTN</p>
            </div>
            <!-- Experiencia -->
            <div class="col-md-12 mb-3">
                <h5 class="text-uppercase">Experiencia</h5>
                <p>Proyectos en análisis de datos, desarrollo de APIs y visualización de datos</p>
            </div>
                <!-- Nuevo párrafo con línea a la derecha -->


            </div>
        </div>
        </div>
    </div>
</section>