<section id="tecnologias" class="container py-5">
    <h2 class="text-center mb-5">Tecnologías</h2>
    <div class="row text-center">
        <!-- Columna de Scraping y APIs -->
        <div class="col-md-4 mb-4">
            <h4 class="mb-4">Scraping y APIs</h4>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <i class="fas fa-light fa-pepper-hot fa-3x mb-2"></i><br>
                    <strong>Flask</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-bolt-lightning fa-3x mb-2"></i><br>
                    <strong>FastAPI</strong>
                </li>
                <li class="mb-3">
                    <i class="fab fa-python fa-3x mb-2"></i><br>
                    <strong>Beautiful Soup</strong>
                </li>
                <li class="mb-3">
                    <i class="fab fa-python fa-3x mb-2"></i><br>
                    <strong>Selenium</strong>
                </li>
            </ul>
        </div>

        <!-- Columna de Backend y Procesamiento de Datos -->
        <div class="col-md-4 mb-4">
            <h4 class="mb-4">Backend y Procesamiento de Datos</h4>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <i class="fab fa-python fa-3x mb-2"></i><br>
                    <strong>Python</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-cogs fa-3x mb-2"></i><br>
                    <strong>Apache Spark</strong>
                </li>
                <li class="mb-3">
                    <i class="fab fa-airbnb fa-3x mb-2"></i><br>
                    <strong>Airflow</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-database fa-3x mb-2"></i><br>
                    <strong>PostgreSQL</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-database fa-3x mb-2"></i><br>
                    <strong>SQLite</strong>
                </li>
            </ul>
        </div>

        <!-- Columna de Herramientas de Visualización -->
        <div class="col-md-4 mb-4">
            <h4 class="mb-4">Herramientas de Visualización</h4>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <i class="fas fa-chart-bar fa-3x mb-2"></i><br>
                    <strong>Tableau</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-chart-line fa-3x mb-2"></i><br>
                    <strong>Power BI</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-chart-pie fa-3x mb-2"></i><br>
                    <strong>Matplotlib</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-chart-area fa-3x mb-2"></i><br>
                    <strong>Seaborn</strong>
                </li>
                <li class="mb-3">
                    <i class="fas fa-database fa-3x mb-2"></i><br>
                    <strong>Plotly</strong>
                </li>
            </ul>
        </div>
    </div>
</section>
